#system-status-bar
	- if !params['test_type'] 
		%h1
			Тесты 
	- else
		%a.ib{href: "/"}
			%h1.primary-color-text.pr32
				В начало
		%h3.ib
			= "Тест: #{I18n.t params['test_type'].gsub(/-/,'_')}"
-#	.pull-right
		- if @session && @session[:client_id]
			%a{href: "client_#{@session.client_id}"}
-#	- if params['test_type'] && @question[:count] && @question[:count] > 0 && @question[:list] && @question[:list].size > 0
		.pull-right
			.c1#counter
				= "#{@question[:count] - @question[:list].size} из #{@question[:count]} вопросов"