#system-status-bar.vm
	- if !params['test_type'] 
		%div.ib
			%h1
				Тесты 
	- else
		%div.ib
			%a{href: "/"}
				%span.glyph.glyph-arrow-left.primary-color-text.pr32
		%div.ib
			%h1
				= "Тест: #{I18n.t params['test_type'].gsub(/-/,'_')}"
	.pull-right
		- if @session && @session[:client_id]
			%a{href: "client_#{@session.client_id}"}

#system-progress-bar
-#	- if params['test_type'] && @question[:count] && @question[:count] > 0 && @question[:list] && @question[:list].size > 0
		.pull-right
			.c1#counter
				= "#{@question[:count] - @question[:list].size} из #{@question[:count]} вопросов"