<div class="attachment relative" id="{{id}}" style={{style_generated}}>
	<a data-ajax class="fancybox db" href="{{src}}">
		<img src="{{thumb}}" class="thumb" data-filename="{{attachment_comment}}" id="{{image_hash}}" style={{style_generated}}/>
	</a>
	<a data-ajax data-model="attachments" data-action="delete" class="delete db righttop hred" href="#" id="{{attachment_id}}">
		<span class="glyph glyph-delete"></span>
	</a>
	<p data-type="comment_for_attachment" class="attachment_comment">{{img_comment}}</p>
	<progress class="upload-progress" value="0" max="100"></progress>
</div>
