!!! 5
%html
	%head
		%title
			Tests
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		= render "shared/header"
		#content.bg3
			= yield
		= render "shared/footer"
		%div#status_wrapper
			%div.data-transparent
			%div.data-message

