!!! 5
%html
	%head
		%title
			Tests
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		= render "shared/system_status_bar"
		= render "shared/system_progress_bar"
		.layout
			#content
				= yield
		= render "shared/system_navigation_bar"

